<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>新年许愿树</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/happyNewYear.css">
    <script type="text/javascript" src="/public/js/happyNewYear.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="content">
        <img class="tree_bottom" src="/public/img/tree-04.png" alt="">
        <img class="tree_box" src="/public/img/box.png" alt="">
        <div class="tree tree_3">
            <img src="/public/img/tree-03.png" alt="">
        </div>
        <div class="tree tree_2">
            <img src="/public/img/tree-02.png" alt="">
        </div>
        <div class="tree tree_1">
            <img src="/public/img/tree-01.png" alt="">
            <img class="star" v-for="(item,index) in star" ref="index" src="/public/img/star.png" alt="">
        </div>
        <div class="">
            <Button @click="modalvisible = true" style="font-size:14px;background: #393D49;color: #fff;">登录 注册</Button>
        </div>
    </div>
    <div id="example">
        djaddasd
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script>
    $('#example').popover('show')
    new Vue({
        el: "#content",
        data() {
            return {
                star: [
                    { left: "6%", top: "64%" },
                    { left: "11%", top: "105%" },
                    { left: "52%", top: "90%" },
                    { left: "74%", top: "144%" },
                    { left: "12%", top: "154%" },
                ],
                modalvisible: true,
                Login: {
                    mobile: "",
                    password: "",
                    error: {
                        mobile: "",
                        password: "",
                        all: "",
                        text: ""
                    }
                },
                Register: {
                    mobile: "",
                    code: "",
                    password: "",
                    error: {
                        code: "",
                        password: "",
                        error: "",
                        mobile: "",
                    }
                }
            }

        },
        mounted() {

            this.changeStar()
            this.$axios.get('http://http://172.81.214.190/:7001/user/check').then(res=>{
                console.log(res)
            })
        },

        methods: {

            changeStar() {
                console.log(this.$refs.index);
                for (const key in this.$refs.index) {
                    this.$refs.index[key].style.left = this.star[key].left
                    this.$refs.index[key].style.top = this.star[key].top
                }

            },
            loginSubmit() {
                const user = this.user;
                if (user.username === '' || user.password === '') {
                    return false;
                }
                this.$axios.post('http://http://172.81.214.190/:7001/login', this.user).then((response) => {
                    var status = response.data;
                    if (status === 'success') {
                        //路由跳转
                        this.$router.push('/');
                    } else {
                        alert(response.data);
                    }
                    console.log(response);
                }).catch((error) => {
                    console.log(response);
                });


            },
            ruleInline() { },
            errorUnshow() { },
            registerSubmit() { },
            seedMessage() { }

        }
    })

</script>

</html>