<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>《守望先锋》官方网站</title>
    <link rel="icon" href="http://image.theblueskyalways.cn/img/overwatchicon.ico">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/nav.css">
</head>
<body>
<div class="window-wall" style="display: none">

</div>
<div id="popBox" style="left: 211.5px; top: 222.222px; overflow: hidden; display: none">
    <div class="w-light-box">
        <div class="head">
            <div class="title">游戏介绍</div>
        </div><div class="content" style="height:85%">
        <video width="100%" height="100%" controls="controls"  preload="auto">
            <source src="http://image.theblueskyalways.cn/videolib_repo%252F1511%252F07%252FCoPrF6333%252FHD%252FCoPrF6333-mobile.mp4" type="video/mp4">
            </video>
    </div>
        <!--<div class="control" style="display:none">-->
            <!--<a class="prev" href="javascript:void(0);"></a><a class="next" href="javascript:void(0);"></a></div>-->
    </div><a class="closeBtn" href="javascript:;">关闭</a></div>
<div class="header">
    <header>
        <div class="play-list-box" style="display: none">
            <div class="inner">
                <ul class="play-list list">
                    <li>
                        <a href="#"><img src="http://image.theblueskyalways.cn/img/card-overwatch-CN-85c98611cefd3018.jpg" alt="">
                            <!--<p>守望先锋 <sup>&reg;</sup></p>-->
                        </a>
                        <div class="img-prey">

                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="http://image.theblueskyalways.cn/img/card-diablo-3-CN-0d57444efa52a79b.jpg" alt="">
                            <!--<p>守望先锋 <sup>&reg;</sup></p>-->
                        </a>
                        <div class="img-prey">

                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="http://image.theblueskyalways.cn/img/card-hearthstone-CN-538b49564ab2122a.jpg" alt="">
                            <!--<p>守望先锋 <sup>&reg;</sup></p>-->
                        </a>
                        <div class="img-prey">

                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="http://image.theblueskyalways.cn/img/card-starcraft-2-CN-de310c5ddfb63a49.jpg" alt="">
                            <!--<p>守望先锋 <sup>&reg;</sup></p>-->
                        </a>
                        <div class="img-prey">

                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="http://image.theblueskyalways.cn/img/card-heroes-of-the-storm-CN-bacafbbddcf92348.jpg" alt="">
                            <!--<p>守望先锋 <sup>&reg;</sup></p>-->
                        </a>
                        <div class="img-prey">

                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="http://image.theblueskyalways.cn/img/card-world-of-warcraft-CN-c4bebe45e5af0993.jpg" alt="">
                            <!--<p>守望先锋 <sup>&reg;</sup></p>-->
                        </a>
                        <div class="img-prey">

                        </div>
                    </li>
                    <li>
                        <a href="#"><img src="http://image.theblueskyalways.cn/img/card-starcraft-remastered-CN.jpg" alt="">
                            <!--<p>守望先锋 <sup>&reg;</sup></p>-->
                        </a>
                        <div class="img-prey">

                        </div>
                    </li>
                </ul>
                <ul class="match-list list">
                    <li class="clear">
                        <a href="#" class="fl match-list-box"  >
                            <div class="img">
                                <img src="http://image.theblueskyalways.cn/img/esports-ow.png" alt="">
                            </div>
                            <span class="text">守望先锋联赛</span>
                        </a>

                        <ol class="fr match-logo">
                            <li>
                                <a href="#"><img src="http://image.theblueskyalways.cn/img/esports-contenders.png"  alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="http://image.theblueskyalways.cn/img/esports-contenders.png"  alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="http://image.theblueskyalways.cn/img/esports-contenders.png"  alt=""></a>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <a href="#" class="fl" >
                            <img src="http://image.theblueskyalways.cn/img/esports-gold.png" alt="">
                        </a>
                        <span class="text">炉石传说黄金系列联赛</span>
                    </li>
                </ul>
            </div>

        </div>
        <div class="main-nav clear" id="topPart">
            <div class="inner">
                <div class="blizzard-logo fl"></div>
                <ul class="left-nav">
                    <li class="maintab is-select">
                        <a href="#">游戏 <i class="play"></i></a>
                    </li>
                    <li>
                        <a href="#">商城</a>
                    </li>
                    <li>
                        <a href="#">新闻</a>
                    </li>
                    <li class="maintab">
                        <a href="#" >电子竞技 <i class="fight"></i></a>
                    </li>
                </ul>
                <ul class="login">
                    <li><a href="#">支持</a></li>
                    <li><a href="login.html">你的通信证 <i class="id-card"></i></a></li>
                </ul>

            </div>
        </div>
        <div class="content-nav " id="navBar">
            <!--<a class="logo-overwatch" href="index.html">
                <img src="http://image.theblueskyalways.cn/img/1%252Fassets%252Fimg%252Fnav-logo-sm.png" alt="">
            </a>-->
            <ul class="nav-menu nav-left" id="nav-menu">
                <li><a href="#" class="nav-btn m-has-children m-menu">游戏</a>
                    <ul class="nav-menu m-sub-menu">
                        <li><a href="overview.html" class="nav-btn m-highlight " >概述</a></li>
                        <li><a href="#" class="nav-btn m-highlight " >赞赏系统</a></li>
                    </ul>
                </li>
                <li><a href="/hero" class="nav-btn " >英雄</a></li>
                <li><a href="#" class="nav-btn m-has-active m-menu" >秘密基地</a>
                    <ul class="nav-menu m-sub-menu ">
                        <li><a href="#" class="nav-btn m-highlight ">大神的相亲黑历史</a></li>
                        <li><a href="/snake" class="nav-btn m-highlight ">贪吃蛇小游戏</a></li>
                        <li><a href="#" class="nav-btn m-highlight ">虚位以待</a></li>
                        <li><a href="#" class="nav-btn m-highlight ">虚位以待</a></li>
                        <li><a href="#" class="nav-btn m-highlight ">虚位以待</a></li>
                        <li><a href="#" class="nav-btn m-highlight ">虚位以待</a></li>
                        <li><a href="#" class="nav-btn m-highlight ">虚位以待</a></li>
                    </ul>
                </li>
                <li><a href="#" class="nav-btn " >视频图片?暂未开放</a></li>
                <li><a href="" class="nav-btn m-has-news m-menu" >虚位以待</a>
                    <ul class="nav-menu m-sub-menu  ">
                        <li><a href="#" class="nav-btn m-highlight ">虚位以待</a></li>
                        <li><a href="#" class="nav-btn m-highlight ">虚位以待</a></li>
                    </ul>
                </li>
                <li><a href="#" class="nav-btn " >虚位以待</a></li>
                <li><a href="#" class="nav-btn " >虚位以待</a></li>
                <li><a href="#" class="nav-btn " >虚位以待</a></li>
                <li><a href="#" class="nav-btn " >虚位以待</a></li>
            </ul>
            <!--<div class="buy">
                <button class="buy-button">购买</button>
            </div>-->
        </div>
    </header>
    <section class="home-header" id="mainPart" >
        <div class="home-header-logo">
        </div>
        <div class="u-relative">
            <h2 class="h3 home-header__tagline">“年度最佳运营游戏奖” - The Game Awards</h2>
        </div>
        <div class="u-relative">
            <a href="#" class="home-header__buynow">立即购买</a>
        </div>
        <div class="u-relative">
            <a href="#" class="home-header__intrduce" id="game_intr"><span></span>游戏介绍</a>
        </div>
    </section>
</div>

<div class="bg">
        <video class="bg-v" autoplay="autoplay"  muted="muted">
            <source src="/public/mive/main.webm" type="video/webm">
        </video>
        <!--<video muted="muted" autoplay="autoplay" loop="" poster="http://overwatch.nos.netease.com/1/assets/http://image.theblueskyalways.cn/img/pages/home/anniversary/header-video-poster.jpg">-->
        <!--<source src="http://overwatch.nos.netease.com/1/assets/http://image.theblueskyalways.cn/img/pages/home/anniversary/header.webm" type="video/webm">-->
        <!--<source src="http://overwatch.nos.netease.com/1/assets/http://image.theblueskyalways.cn/img/pages/home/anniversary/header.mp4" type="video/mp4">-->
        <!--</video>-->
    </div>
<section class="news-panels clear">
    <div class="inner clear">
        <h2>新闻公告</h2>
        <div class="box clear">
            <div class="grid-item left clear" >
                <div class="content">
                    <a href="#" class="content-bg"></a>
                </div>
            </div>
            <div class="grid-item right clear" >
                <div class="content">
                    <a href="#" class="content-bg"></a>
                </div>
            </div>
        </div>
        <div class="cheakall clear">
            <a href="#" class="cheakall-btn">查看所有新闻</a>
        </div>
    </div>
</section>
<section class="activity">
    <div class="inner clear">
        <div class="activity-left">
            <img src="http://image.theblueskyalways.cn/img/OW_NanoCola_Logo_CN.png" alt="" class="ow-logo-cn">
            <h3 class="message-dates">8月29日 - 9月11日</h3>
            <h2 class="h1 message-title">武装起来！</h2>
            <p class="message-content">获取史诗级奖励</p>
            <a href="#" target="_blank" class="button m-lg">了解详情</a>
        </div>
        <div class="activity-right">
            <div class="video">
                <div class="media-card m-16-9 u-video">
                    <img src="http://image.theblueskyalways.cn/img/nano_cola_thumb.jpg" class="media-card-fill">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="explore" id="explore">
    <div class="bg fir now">

    </div>
    <div class="bg sec">

    </div>
    <div class="bg thr">

    </div>
    <div class="inner">
        <h2 class="intro-heading">为未来而战</h2>
        <p class="intro-text u-align-center u-center-block">军人、科学家、冒险家、奇人异士。
            <br />
            <br />在人类陷入空前危机之时，来自全球各个国家的特种精英们，为了结束战争、重铸秩序而团结在了一起。他们，就是<strong>守望先锋</strong>。
            <br />
            <br />英雄们最终结束了这场危机，人类文明在随后的数十年内和平共存并迎来了一个探索、革新和发现的新时代。尽管如此，守望先锋在多年后逐渐被人们所遗忘，最终难逃被解散的命运。
            <br />
            <br /> </p>
        <p class="intro-text u-align-center u-center-block">如今，世界各地争端再起，人们都翘首期待着新英雄的出现，或旧英雄的归来。
            <br />
            <br />你愿意与我们共同抗争吗？ </p>
        <a href="#" class="button m-lg">探索游戏</a></div>
</section>
<section class="hero-content">
    <div class="inner">
        <div class="u-max-width-container">
            <h2 class="intro-heading intro-heading-gradient-blue">各具特色的英雄</h2>
            <div class="intro-text ">
                <p>不论喜欢哪种游戏方式，你总能找到适合自己玩法的英雄。
                    <br />掌握他们独特的技能玩法，享受《守望先锋》的无穷乐趣！</p>
            </div>
        </div>
        <div class="show-lg">
            <div class="hero u-max-width-container">
                <div class="hero-photo" style="background-image: url(http://image.theblueskyalways.cn/img/genji.png)">
                </div>
            </div>
            <div class="full-width-container hero-indro">
                <div class="u-max-width-container hero-indro-box genji is-select">
                <h2 class="spotlight-header u-invert hero-name">源氏</h2>
                <p class="spotlight-caption hero-information ">一名致命的半机械忍者，通过他的机械躯体寻得了身心的和谐。</p>
                </div>
                <div class="u-max-width-container hero-indro-box hanzo ">
                    <h2 class="spotlight-header u-invert hero-name">半藏</h2>
                    <p class="spotlight-caption hero-information ">一名强大而致命的🏹弓➹箭大师。</p>
                </div>
                <div class="u-max-width-container hero-indro-box dva ">
                    <h2 class="spotlight-header u-invert hero-name">D.Va</h2>
                    <p class="spotlight-caption hero-information ">一名前职业玩家，而现在则利用自己的技巧驾驶一台尖端机甲保卫国家。</p>
                </div>
                <div class="u-max-width-container hero-indro-box orisa ">
                    <h2 class="spotlight-header u-invert hero-name">奥丽莎</h2>
                    <p class="spotlight-caption hero-information ">维护努巴尼秩序并保护努巴尼人民的维和机器人🤖。</p>
                </div>
                <div class="u-max-width-container hero-indro-box reinhardt ">
                    <h2 class="spotlight-header u-invert hero-name">莱因哈特</h2>
                    <p class="spotlight-caption hero-information ">一名属于过去的勇士，时刻铭记着骑士的信条：无畏、公正、勇敢。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">路霸</h2>
                    <p class="spotlight-caption hero-information ">一名残暴的杀手，因残忍和肆意破坏而臭名昭著。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">温斯顿</h2>
                    <p class="spotlight-caption hero-information ">一只经过基因改造，拥有高等智慧的大猩猩🐵，也是一位出色的科学家和代表着人类潜力的勇士。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">查莉娅</h2>
                    <p class="spotlight-caption hero-information ">世界上最强壮的女性之一。为了保卫祖国，毅然放弃了个人荣誉。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">破坏球</h2>
                    <p class="spotlight-caption hero-information ">驾驶这台滚动式坦克的是一只经过基因改造的仓鼠，他来自月球基地。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">堡垒</h2>
                    <p class="spotlight-caption hero-information ">一名可以切换形态的机器人🤖，为自然着迷而探索世界，同时也对人类保持着戒心。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">末日铁拳</h2>
                    <p class="spotlight-caption hero-information ">一位利用个人头脑、魅力和蛮力来创建一个更强大世界的战术家。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">狂鼠</h2>
                    <p class="spotlight-caption hero-information ">一名满脑子都是爆炸的变态疯子，只为了混乱和破坏而活。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">麦克雷</h2>
                    <p class="spotlight-caption hero-information ">一名亡命天涯的神枪手🔫，以自己的方式伸张正义。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">美</h2>
                    <p class="spotlight-caption hero-information ">一名能够操控天气，为了保护环境而选择战斗的科学家。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">法老之鹰</h2>
                    <p class="spotlight-caption hero-information ">一名恪守岗位的战士，用实验性的“猛禽”--(˙<>˙)/--作战服确保天空的安全。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">死神</h2>
                    <p class="spotlight-caption hero-information ">一名无情的杀手，一直在追杀前守望先锋的特工们。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">士兵：76</h2>
                    <p class="spotlight-caption hero-information ">一名试图自己将守望先锋敌人绳之于法的独行侠。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">黑影</h2>
                    <p class="spotlight-caption hero-information ">臭名昭著的黑客，沉迷于揭秘——及其带来的权力。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">秩序之光</h2>
                    <p class="spotlight-caption hero-information ">一名通过控制高强度光束，将世界改造成她心目中完美、有序的模样的光子☀建筑师。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">托比昂</h2>
                    <p class="spotlight-caption hero-information ">一名天才工程师，可以在战场上打造武器系统。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">猎空</h2>
                    <p class="spotlight-caption hero-information ">一名前守望先锋特工，同时也是可以穿梭时间的充满正义的冒险家。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">黑百合</h2>
                    <p class="spotlight-caption hero-information ">一名完美的杀手：耐心、果断、无情。没有任何情感且事后毫无悔意。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">安娜</h2>
                    <p class="spotlight-caption hero-information ">守望先锋的创始成员之一，“起死回生”重返战场保护亲人和朋友。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">布里吉塔</h2>
                    <p class="spotlight-caption hero-information ">一位渴望冒险，希望惩强扶弱的重装战士。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">卢西奥</h2>
                    <p class="spotlight-caption hero-information ">一位国际名人，通过音乐🎵和巡演激发社会正能量。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">天使</h2>
                    <p class="spotlight-caption hero-information ">一名集顶尖的治疗者、出色的科学家和坚定的和平主义者于一身的守护天使😇。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">莫伊拉</h2>
                    <p class="spotlight-caption hero-information ">一位天才基因科学家，无视道德的束缚，一心追求科学发现。</p>
                </div>
                <div class="u-max-width-container hero-indro-box roadhog ">
                    <h2 class="spotlight-header u-invert hero-name">禅雅塔</h2>
                    <p class="spotlight-caption hero-information ">一位游走于世界寻找灵魂升华之道的机械僧侣。</p>
                </div>
            </div>

        </div>
        <div class="u-max-width-container">
        <ul class="hero-portrait-group clear">
            <li><a href="#">
                <div class="hero-logo genji">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/genjilogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">源氏</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo hanzo">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/banzologo.png" alt="">
                </div>
                <span class=" hero-name-portrait">半藏</span>
            </a></li>
            <li><a href="hero/dva.html">
                <div class="hero-logo D.Va">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/dvalogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">D.Va</span>
            </a></li>
            <li><a href="hero/orisa.html">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/oriselogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">奥丽莎</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/reinhardtlogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">莱因哈特</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/roadhoglogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">路霸</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/winstonlogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">温斯顿</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/zaryalogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">查莉娅</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/Fwrecking-balllogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">破坏球</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/bastionlogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">堡垒</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/doomfistlogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">末日铁拳</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/junkratlogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">狂鼠</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/mccreelogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">麦克雷</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/meilogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">美</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/pharahlogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">法老之鹰</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/reaperlogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">死神</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/soldier-76logo.png" alt="">
                </div>
                <span class=" hero-name-portrait">士兵：76</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/sombralogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">黑影</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/symmetralogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">秩序之光</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/torbjornlogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">托比昂</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/tracerlogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">猎空</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/widowmakerlogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">黑百合</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/analogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">安娜</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/brigittelogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">布里吉塔</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/luciologo.png" alt="">
                </div>
                <span class=" hero-name-portrait">卢西奥</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/mercylogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">天使</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/moiralogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">莫伊拉</span>
            </a></li>
            <li><a href="#">
                <div class="hero-logo orise">
                    <img class="header-logo" src="http://image.theblueskyalways.cn/img/zenyattalogo.png" alt="">
                </div>
                <span class=" hero-name-portrait">禅雅塔</span>
            </a></li>

        </ul>
    </div>
    </div>
</section>
<section class="view-window">
    <span class="up" id="goUp"></span>
    <span class="down" id="goDown"></span>
    <section id="pic" class=" middle-bg">

    </section>
    </section>
<section class="join">
        <div class="inner">
            <div class="widowmaker-default-pc">

            </div>
            <div class="page-wrapper" style="margin-bottom: 150px;">
                <div class="row">
                    <div class="column ">
                        <h2 class="intro-heading-gradient-blue">这个世界需要英雄</h2>
                        <p class="intro-text">现在即是未来，你来吗？</p>
                        <a href="#" target="_blank" class="button m-lg">立即购买</a>
                    </div>
                </div>
            </div>

        </div>
</section>
<footer>
    <a id="gotop" class="active" href="#top" hidefocus="true" style="display: inline;">TOP</a>
        <div id="footer" class="ow-footer">
            <div class="footer">
                <div id="f-business" class="f-cb">
                    <p class="f-cs"><a href="#" target="_blank" class="cs-online">
                        <span class="icon icon-1"></span>在线客服</a>
                        <a href="#" class="cs-Feedback" target="_blank">
                            <span class="icon icon-2"></span>反馈</a>
                        <a target="_blank" class="cs-joinUs" href="#">
                            <span class="icon icon-3"></span>加入我们</a>
                    </p>
                </div>
                <div class="cprt clear">
                    <div class="logo-bottom">
                        <a target="_blank" href="#" class="logo_bz">

                        </a>
                        <a target="_blank" href="#" class="logo_ne">

                        </a>
                    </div>

                    <div class="info">
                        <ul class="clear Fix">
                            <li>
                                <a href="#" target="_blank">隐私</a>|</li>
                            <li><a href="#" target="_blank">法律条款</a>|</li>
                            <li><a href="https://dev.battle.net/" target="_blank">API</a></li>
                        </ul>
                        <p>©2018 暴雪娱乐有限公司版权所有
                            <span>由上海网之易网络科技发展有限公司运营</span>
                            <a href="#" target="_blank"> 著作权侵权</a>
                            &nbsp;|&nbsp;<span id="js_shenzi">新广出审[2016]378号</span>
                        </p>
                        <p>
                            <span id="js_wenjinwang">文网游进字[2016]0025号</span>
                            &nbsp;|&nbsp;<a href="#" target="_blank">沪网文号〔2017〕9633-727号</a>
                            &nbsp;|&nbsp;<a href="#">增值电信业务经营许可证编号：沪B2－20080012</a>
                        </p>
                        <p>互联网违法和不良信息举报电话：0571-28090163&nbsp;沪公网安备 31011502022167号&nbsp;|&nbsp;
                            <a href="#" target="_blank">上海市网络游戏行业自律公约</a>
                        </p>
                        <p class="integrity">
                            <a target="_blank" href="#">
                                <img src="http://image.theblueskyalways.cn/img/police.png"></a>
                            <a target="_blank" href="#"><img src="http://image.theblueskyalways.cn/img/zx110.png"></a>
                            <a target="_blank" href="#"><img src="http://image.theblueskyalways.cn/img/sgs-icon.png"></a>
                            <a target="_blank" href="#"><img src="http://image.theblueskyalways.cn/img/icon20120516.png"></a>
                            <a target="_blank" href="#"><img src="http://image.theblueskyalways.cn/img/emark.png"></a>
                            <span>| &nbsp;适龄提示：适合13岁及以上使用&nbsp;&nbsp;</span>
                            <a href="#" target="_blank">家长监护工程&gt;</a>
                        </p>
                    </div>

                </div>
                <hr>
                <p class="tips">积极健康的游戏心态是健康游戏的开端，本游戏故事情节设置紧凑，请您合理控制游戏时间，避免沉溺游戏影响生活，注意自我保护，防范网络陷阱。<br>健康游戏忠告：抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。</p></div></div>
        </div>
    </footer>
<script src="/public/js/nav.js"></script>
<script>
    var arrHeroList=document.querySelectorAll('.hero-portrait-group li .hero-logo'),
            arrHeroPhoto=document.querySelector('.hero-photo'),
            arrHeroIntro=document.querySelectorAll('.hero-indro-box'),
            arrPlaylist = document.querySelectorAll('.play-list-box .list');
    var goUp = document.getElementById("goUp");
    var goDown = document.getElementById("goDown");
    var pic = document.getElementById("pic");
    var dist = 0;
    var timerId = null;
    var oVeiw = document.querySelector('.view-window');
    var topPart = document.getElementById("topPart");
    var navBar = document.getElementById("navBar");
    var mainPart = document.getElementById("mainPart");
    var explorebg = document.getElementById('explore');
    var explorebg_time = null;
    var arrexplorebg = explorebg.getElementsByClassName('bg');
    var bgpage = 0;
    clearInterval(explorebg_time);
    explorebg_time = setInterval(function(){
        if(bgpage == arrexplorebg.length ){
            bgpage=0;
        }
        for (var i = 0; i < arrexplorebg.length; i++) {

            arrexplorebg[i].classList.remove('now')
        }
        arrexplorebg[bgpage].classList.add('now') ;
        bgpage++;

    },10000);
    goUp.onmouseover = function () {
        clearInterval(timerId);
        timerId = setInterval(function () {
            dist--;
            if (dist > -500) {
                pic.style.top = dist + "px";
            } else {
                clearInterval(timerId);
            }
        }, 15);
    };
oVeiw.onmouseover = function(){
    pic.classList.add('is-select')
};
//    oVeiw.onmouseout = function(){
//        pic.classList.remove('is-select');
//        pic.style.position='fixed';
//        pic.style.bottom= 0;
//    };
    goDown.onmouseover = function () {
        clearInterval(timerId);
        timerId = setInterval(function () {
            dist++;
            if (dist <= 0) {
                pic.style.top = dist + "px";
            } else {
                clearInterval(timerId);
            }
        }, 15);
    };
    oVeiw.parentNode.onmouseout = function () {
        clearInterval(timerId);
        pic.classList.remove('is-select');
        pic.style.position='fixed';
        pic.style.bottom= 50;
    };
    var heroImage=[
            'url(http://image.theblueskyalways.cn/img/genji.png)',
        'url(http://image.theblueskyalways.cn/img/hanzo.png)',
        'url(http://image.theblueskyalways.cn/img/dva.png)',
        'url(http://image.theblueskyalways.cn/img/orisa.png)',
        'url(http://image.theblueskyalways.cn/img/reinhardt.png)',
        'url(http://image.theblueskyalways.cn/img/roadhog.png)',
        'url(http://image.theblueskyalways.cn/img/winston.png)',
        'url(http://image.theblueskyalways.cn/img/zarya.png)',
        'url(http://image.theblueskyalways.cn/img/Fwrecking-ball.png)',
        'url(http://image.theblueskyalways.cn/img/bastion.png)',
        'url(http://image.theblueskyalways.cn/img/doomfist.png)',
        'url(http://image.theblueskyalways.cn/img/junkrat.png)',
        'url(http://image.theblueskyalways.cn/img/mccree.png)',
        'url(http://image.theblueskyalways.cn/img/mei.png)',
        'url(http://image.theblueskyalways.cn/img/pharah.png)',
        'url(http://image.theblueskyalways.cn/img/reaper.png)',
        'url(http://image.theblueskyalways.cn/img/soldier-76.png)',
        'url(http://image.theblueskyalways.cn/img/sombra.png)',
        'url(http://image.theblueskyalways.cn/img/symmetra.png)',
        'url(http://image.theblueskyalways.cn/img/torbjorn.png)',
        'url(http://image.theblueskyalways.cn/img/tracer.png)',
        'url(http://image.theblueskyalways.cn/img/widowmaker.png)',
        'url(http://image.theblueskyalways.cn/img/ana.png)',
        'url(http://image.theblueskyalways.cn/img/brigitte.png)',
        'url(http://image.theblueskyalways.cn/img/lucio.png)',
        'url(http://image.theblueskyalways.cn/img/mercy.png)',
        'url(http://image.theblueskyalways.cn/img/moira-full-portrait.png)',
        'url(http://image.theblueskyalways.cn/img/zenyatta.png)'
    ];
    for (let i = 0; i < arrHeroList.length; i++) {
        arrHeroList[i].onmouseover=function(){
            for (var j = 0; j < arrHeroList.length; j++) {
                arrHeroIntro[j].classList.remove('is-select');
                arrHeroList[j].classList.remove('is-select');
            }
            arrHeroPhoto.style.backgroundImage=heroImage[i];
            arrHeroIntro[i].classList.add('is-select');
            this.classList.add('is-select');
        }

    }
    tap()()
    var popBox = document.getElementById('popBox');
    var game_intr = document.getElementById('game_intr');
    var closeBtn = popBox.getElementsByClassName('closeBtn')[0];
    var intr_vedio = popBox.getElementsByTagName('video')[0];
    game_intr.onclick = function(){
        popBox.style.display = 'block';
        intr_vedio.play()
    };
    closeBtn.onclick  = function(){
        popBox.style.display = 'none';
        intr_vedio.currentTime=0;
        intr_vedio.pause();

    }
</script>
</body>
</html>

