<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>英雄 - 《守望先锋》官方网站</title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="icon" href="http://q1cz7q4s0.bkt.clouddn.com/img/overwatchicon.ico">
    <link rel="stylesheet" href="/public/css/heros.css">
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/footer.css">
</head>
<body>
<div class="window-wall" style="display: none">

</div>
<header>
    <div class="play-list-box" style="display: none">
        <div class="inner">
            <ul class="play-list list">
                <li>
                    <a href="#"><img src="http://q1cz7q4s0.bkt.clouddn.com/img/card-overwatch-CN-85c98611cefd3018.jpg" alt="">
                        <!--<p>守望先锋 <sup>&reg;</sup></p>-->
                    </a>
                    <div class="img-prey">

                    </div>
                </li>
                <li>
                    <a href="#"><img src="http://q1cz7q4s0.bkt.clouddn.com/img/card-diablo-3-CN-0d57444efa52a79b.jpg" alt="">
                        <!--<p>守望先锋 <sup>&reg;</sup></p>-->
                    </a>
                    <div class="img-prey">

                    </div>
                </li>
                <li>
                    <a href="#"><img src="http://q1cz7q4s0.bkt.clouddn.com/img/card-hearthstone-CN-538b49564ab2122a.jpg" alt="">
                        <!--<p>守望先锋 <sup>&reg;</sup></p>-->
                    </a>
                    <div class="img-prey">

                    </div>
                </li>
                <li>
                    <a href="#"><img src="http://q1cz7q4s0.bkt.clouddn.com/img/card-starcraft-2-CN-de310c5ddfb63a49.jpg" alt="">
                        <!--<p>守望先锋 <sup>&reg;</sup></p>-->
                    </a>
                    <div class="img-prey">

                    </div>
                </li>
                <li>
                    <a href="#"><img src="http://q1cz7q4s0.bkt.clouddn.com/img/card-heroes-of-the-storm-CN-bacafbbddcf92348.jpg" alt="">
                        <!--<p>守望先锋 <sup>&reg;</sup></p>-->
                    </a>
                    <div class="img-prey">

                    </div>
                </li>
                <li>
                    <a href="#"><img src="http://q1cz7q4s0.bkt.clouddn.com/img/card-world-of-warcraft-CN-c4bebe45e5af0993.jpg" alt="">
                        <!--<p>守望先锋 <sup>&reg;</sup></p>-->
                    </a>
                    <div class="img-prey">

                    </div>
                </li>
                <li>
                    <a href="#"><img src="http://q1cz7q4s0.bkt.clouddn.com/img/card-starcraft-remastered-CN.jpg" alt="">
                        <!--<p>守望先锋 <sup>&reg;</sup></p>-->
                    </a>
                    <div class="img-prey">

                    </div>
                </li>
            </ul>
            <ul class="match-list list">
                <li class="clear">
                    <a href="#" class="fl" >
                        <img src="http://q1cz7q4s0.bkt.clouddn.com/img/esports-ow.png" alt="">
                    </a>
                    <ol class="fr match-logo">
                        <li>
                            <a href="#"><img src="http://q1cz7q4s0.bkt.clouddn.com/img/esports-contenders.png" style="height: 64px;" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="http://q1cz7q4s0.bkt.clouddn.com/img/esports-contenders.png" style="height: 64px;" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="http://q1cz7q4s0.bkt.clouddn.com/img/esports-contenders.png" style="height: 64px;" alt=""></a>
                        </li>
                    </ol>
                </li>
            </ul>
        </div>

    </div>
    <div class="main-nav clear" id="topPart">
        <div class="inner">
            <div class="blizzard-logo fl"></div>
            <ul class="left-nav">
                <li class="maintab is-select">
                    <a href="#">游戏 <i class="play"></i></a>
                </li>
                <li>
                    <a href="#">商城</a>
                </li>
                <li>
                    <a href="#">新闻</a>
                </li>
                <li class="maintab">
                    <a href="#" >电子竞技 <i class="fight"></i></a>
                </li>
            </ul>
            <ul class="login">
                <li><a href="#">支持</a></li>
                <li><a href="../login.html">你的通信证 <i class="id-card"></i></a></li>
            </ul>

        </div>
    </div>
    <div class="content-nav " id="navBar">
        <a class="logo-overwatch" href="../index.html">
            <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fnav-logo-sm.png" alt="">
        </a>
        <ul class="nav-menu nav-left" id="nav-menu">
            <li><a href="#" class="nav-btn m-has-children m-menu">游戏</a>
                <ul class="nav-menu m-sub-menu">
                    <li><a href="../overview.html" class="nav-btn m-highlight " >概述</a></li>
                    <li><a href="#" class="nav-btn m-highlight " >赞赏系统</a></li>
                </ul>
            </li>
            <li class="now"><a href="#" class="nav-btn " >英雄</a></li>
            <li><a href="#" class="nav-btn m-has-active m-menu" >活动</a>
                <ul class="nav-menu m-sub-menu ">
                    <li><a href="#" class="nav-btn m-highlight ">夏季运动会</a></li>
                    <li><a href="#" class="nav-btn m-highlight ">行动档案</a></li>
                    <li><a href="#" class="nav-btn m-highlight ">欢度新春</a></li>
                    <li><a href="#" class="nav-btn m-highlight ">雪国仙境</a></li>
                    <li><a href="#" class="nav-btn m-highlight ">万圣夜惊魂</a></li>
                    <li><a href="#" class="nav-btn m-highlight ">周年庆典</a></li>
                    <li><a href="#" class="nav-btn m-highlight ">国王行动</a></li>
                </ul>
            </li>
            <li><a href="#" class="nav-btn " >视频图片</a></li>
            <li><a href="#" class="nav-btn m-has-news m-menu" >新闻</a>
                <ul class="nav-menu m-sub-menu  ">
                    <li><a href="#" class="nav-btn m-highlight ">新闻</a></li>
                    <li><a href="#" class="nav-btn m-highlight ">补丁</a></li>
                </ul>
            </li>
            <li><a href="#" class="nav-btn " >下载</a></li>
            <li><a href="#" class="nav-btn " >生涯数据</a></li>
            <li><a href="#" class="nav-btn " >电子竞技</a></li>
            <li><a href="#" class="nav-btn " >论坛</a></li>
        </ul>
        <div class="buy">
            <button class="buy-button">购买</button>
        </div>
    </div>
</header>
<section class="heroes-selector" id="mainPart">
    <div class="inner">
        <div class="intro">
            <h2 class="hero-selector-intro">寻找英雄角色吗？</h2>
            <p class="intro-text">在尝试各个英雄之前，先了解他们在团队中的角色。</p>
        </div>
        <nav class="hero-selector clear">
            <ul class="hero-selector-box clear">
                <li class="is-select">
                        所有
                </li>
                <li>
                    <svg viewbox="0 0 32 32" role="presentation" class="icon">
                        <path d="M29 10.7v6.2c0 .6-.1 1.1-.4 1.6-2.9 5.3-6.8 9.7-11.8 13.2-.6.4-1 .4-1.6 0-4.9-3.4-8.8-7.8-11.7-13-.3-.6-.4-1.2-.4-1.8 0-3.9.1-7.8 0-11.7-.1-2.9 2.1-3.3 4-3.8C10.4.6 13.3 0 16.6 0c3.1 0 7.7 1.1 9.4 1.6 1.3.4 2.7.9 2.9 2.2.1 1.1 0 2.2.1 3.3v3.6z" style=""></path>
                    </svg><span class="text">重装</span>
                </li>
                <li>
                    <svg viewBox="0 0 32 32" role="presentation" class="icon">
                        <g>
                            <path d="M2.1 28.1h7.1V32H2.1z"></path>
                            <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                        </g>
                        <g>
                            <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                            <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                        </g>
                        <g>
                            <path d="M22.9 28.1H30V32h-7.1z"></path>
                            <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                        </g>
                    </svg>
                    <span class="text" style="">输出</span>
                </li>
                <li>
                    <svg viewBox="0 0 32 32" role="presentation" class="icon">
                        <path fill-rule="evenodd" d="M29.3 10.2h-7.5V2.7c0-1.5-1.2-2.7-2.7-2.7h-6.3c-1.5 0-2.7 1.2-2.7 2.7v7.5H2.7c-1.5 0-2.7 1.2-2.7 2.7v6.3c0 1.5 1.2 2.7 2.7 2.7h7.5v7.5c0 1.5 1.2 2.7 2.7 2.7h6.3c1.5 0 2.7-1.2 2.7-2.7v-7.5h7.5c1.5 0 2.7-1.2 2.7-2.7v-6.3c-.1-1.5-1.3-2.7-2.8-2.7z"></path>
                    </svg>
                    <span class="text" style="">支援</span>
                </li>
            </ul>
        </nav>
        <div class="heros-box clear">
            <ul class="heros-box-content clear">
                <li class="hero-box tank dva"><a href="dva.html" class="hero-box tank">
                        <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fdva.png" alt="">
                        <span class="container"><span class="icon"><svg viewBox="0 0 32 32" role="presentation" class="icon">
                            <path d="M29 10.7v6.2c0 .6-.1 1.1-.4 1.6-2.9 5.3-6.8 9.7-11.8 13.2-.6.4-1 .4-1.6 0-4.9-3.4-8.8-7.8-11.7-13-.3-.6-.4-1.2-.4-1.8 0-3.9.1-7.8 0-11.7-.1-2.9 2.1-3.3 4-3.8C10.4.6 13.3 0 16.6 0c3.1 0 7.7 1.1 9.4 1.6 1.3.4 2.7.9 2.9 2.2.1 1.1 0 2.2.1 3.3v3.6z"></path>
                        </svg></span><span class="portrait-title">D.Va</span></span>
                    </a>
                <div class="pray"></div>
                </li>
                <li class="hero-box tank orisa"><a href="orisa.html" class="hero-box tank">
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Forisa.png" alt="">
                        <span class="container"><span class="icon"><svg viewBox="0 0 32 32" role="presentation" class="icon">
                            <path d="M29 10.7v6.2c0 .6-.1 1.1-.4 1.6-2.9 5.3-6.8 9.7-11.8 13.2-.6.4-1 .4-1.6 0-4.9-3.4-8.8-7.8-11.7-13-.3-.6-.4-1.2-.4-1.8 0-3.9.1-7.8 0-11.7-.1-2.9 2.1-3.3 4-3.8C10.4.6 13.3 0 16.6 0c3.1 0 7.7 1.1 9.4 1.6 1.3.4 2.7.9 2.9 2.2.1 1.1 0 2.2.1 3.3v3.6z"></path>
                        </svg></span><span class="portrait-title">奥丽莎</span></span>
                </a>
                    <div class="pray"></div></li>
                <li class="hero-box tank reinhardt"><a href="#" class="hero-box tank">
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Freinhardt.png" alt="">
                        <span class="container"><span class="icon"><svg viewBox="0 0 32 32" role="presentation" class="icon">
                            <path d="M29 10.7v6.2c0 .6-.1 1.1-.4 1.6-2.9 5.3-6.8 9.7-11.8 13.2-.6.4-1 .4-1.6 0-4.9-3.4-8.8-7.8-11.7-13-.3-.6-.4-1.2-.4-1.8 0-3.9.1-7.8 0-11.7-.1-2.9 2.1-3.3 4-3.8C10.4.6 13.3 0 16.6 0c3.1 0 7.7 1.1 9.4 1.6 1.3.4 2.7.9 2.9 2.2.1 1.1 0 2.2.1 3.3v3.6z"></path>
                        </svg></span><span class="portrait-title">莱因哈特</span></span>
                </a>
                    <div class="pray"></div></li>
                <li class="hero-box tank roadhog"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Froadhog.png" alt="">
                        <span class="container"><span class="icon"><svg viewBox="0 0 32 32" role="presentation" class="icon">
                            <path d="M29 10.7v6.2c0 .6-.1 1.1-.4 1.6-2.9 5.3-6.8 9.7-11.8 13.2-.6.4-1 .4-1.6 0-4.9-3.4-8.8-7.8-11.7-13-.3-.6-.4-1.2-.4-1.8 0-3.9.1-7.8 0-11.7-.1-2.9 2.1-3.3 4-3.8C10.4.6 13.3 0 16.6 0c3.1 0 7.7 1.1 9.4 1.6 1.3.4 2.7.9 2.9 2.2.1 1.1 0 2.2.1 3.3v3.6z"></path>
                        </svg></span><span class="portrait-title">路霸</span></span>
                </a><div class="pray"></div></li>
                <li class="hero-box tank winston"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fwinston.png" alt="">
                        <span class="container"><span class="icon"><svg viewBox="0 0 32 32" role="presentation" class="icon">
                            <path d="M29 10.7v6.2c0 .6-.1 1.1-.4 1.6-2.9 5.3-6.8 9.7-11.8 13.2-.6.4-1 .4-1.6 0-4.9-3.4-8.8-7.8-11.7-13-.3-.6-.4-1.2-.4-1.8 0-3.9.1-7.8 0-11.7-.1-2.9 2.1-3.3 4-3.8C10.4.6 13.3 0 16.6 0c3.1 0 7.7 1.1 9.4 1.6 1.3.4 2.7.9 2.9 2.2.1 1.1 0 2.2.1 3.3v3.6z"></path>
                        </svg></span><span class="portrait-title">温斯顿</span></span>
                </a><div class="pray"></div></li>
                <li class="hero-box tank zarya"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fzarya.png" alt="">
                        <span class="container"><span class="icon"><svg viewBox="0 0 32 32" role="presentation" class="icon">
                            <path d="M29 10.7v6.2c0 .6-.1 1.1-.4 1.6-2.9 5.3-6.8 9.7-11.8 13.2-.6.4-1 .4-1.6 0-4.9-3.4-8.8-7.8-11.7-13-.3-.6-.4-1.2-.4-1.8 0-3.9.1-7.8 0-11.7-.1-2.9 2.1-3.3 4-3.8C10.4.6 13.3 0 16.6 0c3.1 0 7.7 1.1 9.4 1.6 1.3.4 2.7.9 2.9 2.2.1 1.1 0 2.2.1 3.3v3.6z"></path>
                        </svg></span><span class="portrait-title">查莉娅</span></span>
                </a><div class="pray"></div></li>
                <li class="hero-box tank wrecking-ball"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/2%252Fheroes%252Fwrecking-ball%252Fhero-select-portrait.png" alt="">
                        <span class="container"><span class="icon"><svg viewBox="0 0 32 32" role="presentation" class="icon">
                            <path d="M29 10.7v6.2c0 .6-.1 1.1-.4 1.6-2.9 5.3-6.8 9.7-11.8 13.2-.6.4-1 .4-1.6 0-4.9-3.4-8.8-7.8-11.7-13-.3-.6-.4-1.2-.4-1.8 0-3.9.1-7.8 0-11.7-.1-2.9 2.1-3.3 4-3.8C10.4.6 13.3 0 16.6 0c3.1 0 7.7 1.1 9.4 1.6 1.3.4 2.7.9 2.9 2.2.1 1.1 0 2.2.1 3.3v3.6z"></path>
                        </svg></span><span class="portrait-title">破环球</span></span>
                </a><div class="pray"></div></li>
                <li class="hero-box carry bastion"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fbastion.png" alt="">
                        <span class="container">
                            <span class="icon">
                                <svg viewBox="0 0 32 32" role="presentation" class="icon" style="">
                            <g>
                                <path d="M2.1 28.1h7.1V32H2.1z"></path>
                                <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                            </g>
                            <g>
                                <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                                <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z" style=""></path>
                            </g>
                            <g>
                                <path d="M22.9 28.1H30V32h-7.1z"></path>
                                <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                            </g>
                        </svg>
                            </span>
                            <span class="portrait-title">堡垒</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box carry doomfist"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fdoomfist.png" alt="">
                        <span class="container">
                            <span class="icon">
                                <svg viewBox="0 0 32 32" role="presentation" class="icon" style="">
                                    <g>
                                        <path d="M2.1 28.1h7.1V32H2.1z"></path>
                                        <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                    <g>
                                        <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                                        <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z" style=""></path>
                                    </g>
                                    <g>
                                        <path d="M22.9 28.1H30V32h-7.1z"></path>
                                        <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                </svg>
                            </span>
                            <span class="portrait-title">末日铁拳</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box carry genji"><a href="#">
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fgenji.png" alt="">
                        <span class="container">
                            <span class="icon">
                                <svg viewBox="0 0 32 32" role="presentation" class="icon" style="">
                                    <g>
                                        <path d="M2.1 28.1h7.1V32H2.1z"></path>
                                        <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                    <g>
                                        <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                                        <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z" style=""></path>
                                    </g>
                                    <g>
                                        <path d="M22.9 28.1H30V32h-7.1z"></path>
                                        <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                </svg>
                            </span>
                            <span class="portrait-title">源氏</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box carry hanzo"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fhanzo.png" alt="">
                        <span class="container">
                            <span class="icon">
                                <svg viewBox="0 0 32 32" role="presentation" class="icon" style="">
                                    <g>
                                        <path d="M2.1 28.1h7.1V32H2.1z"></path>
                                        <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                    <g>
                                        <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                                        <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z" style=""></path>
                                    </g>
                                    <g>
                                        <path d="M22.9 28.1H30V32h-7.1z"></path>
                                        <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                </svg>
                            </span>
                            <span class="portrait-title">半藏</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box carry junkrat"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fjunkrat.png" alt="">
                        <span class="container">
                            <span class="icon">
                                <svg viewBox="0 0 32 32" role="presentation" class="icon" style="">
                                    <g>
                                        <path d="M2.1 28.1h7.1V32H2.1z"></path>
                                        <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                    <g>
                                        <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                                        <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z" style=""></path>
                                    </g>
                                    <g>
                                        <path d="M22.9 28.1H30V32h-7.1z"></path>
                                        <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                </svg>
                            </span>
                            <span class="portrait-title">狂鼠</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box carry mccree "><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fmccree.png" alt="">
                        <span class="container">
                            <span class="icon">
                                <svg viewBox="0 0 32 32" role="presentation" class="icon" style="">
                                    <g>
                                        <path d="M2.1 28.1h7.1V32H2.1z"></path>
                                        <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                    <g>
                                        <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                                        <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z" style=""></path>
                                    </g>
                                    <g>
                                        <path d="M22.9 28.1H30V32h-7.1z"></path>
                                        <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                </svg>
                            </span>
                            <span class="portrait-title">麦克雷</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box carry mei"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fmei.png" alt="">
                        <span class="container">
                            <span class="icon">
                                <svg viewBox="0 0 32 32" role="presentation" class="icon" style="">
                                    <g>
                                        <path d="M2.1 28.1h7.1V32H2.1z"></path>
                                        <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                    <g>
                                        <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                                        <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z" style=""></path>
                                    </g>
                                    <g>
                                        <path d="M22.9 28.1H30V32h-7.1z"></path>
                                        <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                </svg>
                            </span>
                            <span class="portrait-title">美</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box carry pharah"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fpharah.png" alt="">
                        <span class="container">
                            <span class="icon">
                                <svg viewBox="0 0 32 32" role="presentation" class="icon" style="">
                                    <g>
                                        <path d="M2.1 28.1h7.1V32H2.1z"></path>
                                        <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                    <g>
                                        <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                                        <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z" style=""></path>
                                    </g>
                                    <g>
                                        <path d="M22.9 28.1H30V32h-7.1z"></path>
                                        <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                </svg>
                            </span>
                            <span class="portrait-title">法老之鹰</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box carry reaper"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Freaper.png" alt="">
                        <span class="container">
                            <span class="icon">
                                <svg viewBox="0 0 32 32" role="presentation" class="icon" style="">
                                    <g>
                                        <path d="M2.1 28.1h7.1V32H2.1z"></path>
                                        <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                    <g>
                                        <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                                        <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z" style=""></path>
                                    </g>
                                    <g>
                                        <path d="M22.9 28.1H30V32h-7.1z"></path>
                                        <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                </svg>
                            </span>
                            <span class="portrait-title">死神</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box carry soldier-76"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fsoldier-76.png" alt="">
                        <span class="container">
                            <span class="icon">
                                <svg viewBox="0 0 32 32" role="presentation" class="icon" style="">
                                    <g>
                                        <path d="M2.1 28.1h7.1V32H2.1z"></path>
                                        <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                    <g>
                                        <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                                        <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z" style=""></path>
                                    </g>
                                    <g>
                                        <path d="M22.9 28.1H30V32h-7.1z"></path>
                                        <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                </svg>
                            </span>
                            <span class="portrait-title">士兵：76</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box carry sombra"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fsombra.png" alt="">
                        <span class="container">
                            <span class="icon">
                                <svg viewBox="0 0 32 32" role="presentation" class="icon" style="">
                                    <g>
                                        <path d="M2.1 28.1h7.1V32H2.1z"></path>
                                        <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                    <g>
                                        <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                                        <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z" style=""></path>
                                    </g>
                                    <g>
                                        <path d="M22.9 28.1H30V32h-7.1z"></path>
                                        <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                </svg>
                            </span>
                            <span class="portrait-title">黑影</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box carry symmetra"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fsymmetra.png" alt="">
                        <span class="container">
                            <span class="icon">
                                <svg viewBox="0 0 32 32" role="presentation" class="icon" style="">
                                    <g>
                                        <path d="M2.1 28.1h7.1V32H2.1z"></path>
                                        <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                    <g>
                                        <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                                        <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z" style=""></path>
                                    </g>
                                    <g>
                                        <path d="M22.9 28.1H30V32h-7.1z"></path>
                                        <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                </svg>
                            </span>
                            <span class="portrait-title">秩序之光</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box carry torbjorn"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Ftorbjorn.png" alt="">
                        <span class="container">
                            <span class="icon">
                                <svg viewBox="0 0 32 32" role="presentation" class="icon" style="">
                                    <g>
                                        <path d="M2.1 28.1h7.1V32H2.1z"></path>
                                        <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                    <g>
                                        <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                                        <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z" style=""></path>
                                    </g>
                                    <g>
                                        <path d="M22.9 28.1H30V32h-7.1z"></path>
                                        <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                </svg>
                            </span>
                            <span class="portrait-title">托比昂</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box carry tracer"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Ftracer.png" alt="">
                        <span class="container">
                            <span class="icon">
                                <svg viewBox="0 0 32 32" role="presentation" class="icon" style="">
                                    <g>
                                        <path d="M2.1 28.1h7.1V32H2.1z"></path>
                                        <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                    <g>
                                        <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                                        <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z" style=""></path>
                                    </g>
                                    <g>
                                        <path d="M22.9 28.1H30V32h-7.1z"></path>
                                        <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                </svg>
                            </span>
                            <span class="portrait-title">猎空</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box carry widowmaker"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fwidowmaker.png" alt="">
                        <span class="container">
                            <span class="icon">
                                <svg viewBox="0 0 32 32" role="presentation" class="icon" style="">
                                    <g>
                                        <path d="M2.1 28.1h7.1V32H2.1z"></path>
                                        <path d="M9.1 7v-.7C8.6 1.5 5.6 0 5.6 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                    <g>
                                        <path d="M12.5 28.1h7.1V32h-7.1z"></path>
                                        <path d="M19.5 7v-.7C19 1.5 16 0 16 0s-3 1.5-3.5 6.3V25.4h7V7z" style=""></path>
                                    </g>
                                    <g>
                                        <path d="M22.9 28.1H30V32h-7.1z"></path>
                                        <path d="M29.9 7v-.7C29.4 1.5 26.4 0 26.4 0s-3 1.5-3.5 6.3V25.4h7V7z"></path>
                                    </g>
                                </svg>
                            </span>
                            <span class="portrait-title">黑百合</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box support ana"><a href="#" >
                <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fana.png" alt="">
                        <span class="container">
                            <span class="icon"><svg viewBox="0 0 32 32" role="presentation" class="icon">
                                <path fill-rule="evenodd" d="M29.3 10.2h-7.5V2.7c0-1.5-1.2-2.7-2.7-2.7h-6.3c-1.5 0-2.7 1.2-2.7 2.7v7.5H2.7c-1.5 0-2.7 1.2-2.7 2.7v6.3c0 1.5 1.2 2.7 2.7 2.7h7.5v7.5c0 1.5 1.2 2.7 2.7 2.7h6.3c1.5 0 2.7-1.2 2.7-2.7v-7.5h7.5c1.5 0 2.7-1.2 2.7-2.7v-6.3c-.1-1.5-1.3-2.7-2.8-2.7z"></path>
                            </svg></span>
                            <span class="portrait-title">安娜</span>
                        </span>
            </a><div class="pray"></div></li>
                <li class="hero-box support brigitte"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fbrigitte.png" alt="">
                        <span class="container">
                            <span class="icon"><svg viewBox="0 0 32 32" role="presentation" class="icon">
                                <path fill-rule="evenodd" d="M29.3 10.2h-7.5V2.7c0-1.5-1.2-2.7-2.7-2.7h-6.3c-1.5 0-2.7 1.2-2.7 2.7v7.5H2.7c-1.5 0-2.7 1.2-2.7 2.7v6.3c0 1.5 1.2 2.7 2.7 2.7h7.5v7.5c0 1.5 1.2 2.7 2.7 2.7h6.3c1.5 0 2.7-1.2 2.7-2.7v-7.5h7.5c1.5 0 2.7-1.2 2.7-2.7v-6.3c-.1-1.5-1.3-2.7-2.8-2.7z"></path>
                            </svg></span>
                            <span class="portrait-title">布里吉塔</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box support lucio"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Flucio.png" alt="">
                        <span class="container">
                            <span class="icon"><svg viewBox="0 0 32 32" role="presentation" class="icon">
                                <path fill-rule="evenodd" d="M29.3 10.2h-7.5V2.7c0-1.5-1.2-2.7-2.7-2.7h-6.3c-1.5 0-2.7 1.2-2.7 2.7v7.5H2.7c-1.5 0-2.7 1.2-2.7 2.7v6.3c0 1.5 1.2 2.7 2.7 2.7h7.5v7.5c0 1.5 1.2 2.7 2.7 2.7h6.3c1.5 0 2.7-1.2 2.7-2.7v-7.5h7.5c1.5 0 2.7-1.2 2.7-2.7v-6.3c-.1-1.5-1.3-2.7-2.8-2.7z"></path>
                            </svg></span>
                            <span class="portrait-title">卢西奥</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box support mercy"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fmercy.png" alt="">
                        <span class="container">
                            <span class="icon"><svg viewBox="0 0 32 32" role="presentation" class="icon">
                                <path fill-rule="evenodd" d="M29.3 10.2h-7.5V2.7c0-1.5-1.2-2.7-2.7-2.7h-6.3c-1.5 0-2.7 1.2-2.7 2.7v7.5H2.7c-1.5 0-2.7 1.2-2.7 2.7v6.3c0 1.5 1.2 2.7 2.7 2.7h7.5v7.5c0 1.5 1.2 2.7 2.7 2.7h6.3c1.5 0 2.7-1.2 2.7-2.7v-7.5h7.5c1.5 0 2.7-1.2 2.7-2.7v-6.3c-.1-1.5-1.3-2.7-2.8-2.7z"></path>
                            </svg></span>
                            <span class="portrait-title">安娜</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box support moira"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fmoira.png" alt="">
                        <span class="container">
                            <span class="icon"><svg viewBox="0 0 32 32" role="presentation" class="icon">
                                <path fill-rule="evenodd" d="M29.3 10.2h-7.5V2.7c0-1.5-1.2-2.7-2.7-2.7h-6.3c-1.5 0-2.7 1.2-2.7 2.7v7.5H2.7c-1.5 0-2.7 1.2-2.7 2.7v6.3c0 1.5 1.2 2.7 2.7 2.7h7.5v7.5c0 1.5 1.2 2.7 2.7 2.7h6.3c1.5 0 2.7-1.2 2.7-2.7v-7.5h7.5c1.5 0 2.7-1.2 2.7-2.7v-6.3c-.1-1.5-1.3-2.7-2.8-2.7z"></path>
                            </svg></span>
                            <span class="portrait-title">莫伊拉</span>
                        </span>
                </a><div class="pray"></div></li>
                <li class="hero-box support zenyatta"><a href="#" >
                    <img src="http://q1cz7q4s0.bkt.clouddn.com/img/1%252Fassets%252Fimg%252Fpages%252Fheroes%252Flist%252Fzenyatta.png" alt="">
                        <span class="container">
                            <span class="icon"><svg viewBox="0 0 32 32" role="presentation" class="icon">
                                <path fill-rule="evenodd" d="M29.3 10.2h-7.5V2.7c0-1.5-1.2-2.7-2.7-2.7h-6.3c-1.5 0-2.7 1.2-2.7 2.7v7.5H2.7c-1.5 0-2.7 1.2-2.7 2.7v6.3c0 1.5 1.2 2.7 2.7 2.7h7.5v7.5c0 1.5 1.2 2.7 2.7 2.7h6.3c1.5 0 2.7-1.2 2.7-2.7v-7.5h7.5c1.5 0 2.7-1.2 2.7-2.7v-6.3c-.1-1.5-1.3-2.7-2.8-2.7z"></path>
                            </svg></span>
                            <span class="portrait-title">禅雅塔</span>
                        </span>
                </a><div class="pray"></div></li>
            </ul>
        </div>
    </div>
</section>
<footer>
    <a id="gotop" class="active" href="#top" hidefocus="true" style="display: inline;">TOP</a>
    <div id="footer" class="ow-footer">
        <div class="footer">
            <div id="f-business" class="f-cb">
                <p class="f-cs"><a href="#" target="_blank" class="cs-online">
                    <span class="icon icon-1"></span>在线客服</a>
                    <a href="#" class="cs-Feedback" target="_blank">
                        <span class="icon icon-2"></span>反馈</a>
                    <a target="_blank" class="cs-joinUs" href="#">
                        <span class="icon icon-3"></span>加入我们</a>
                </p>
            </div>
            <div class="cprt clear">
                <div class="logo-bottom">
                    <a target="_blank" href="#" class="logo_bz">

                    </a>
                    <a target="_blank" href="#" class="logo_ne">

                    </a>
                </div>

                <div class="info">
                    <ul class="clear Fix">
                        <li>
                            <a href="#" target="_blank">隐私</a>|</li>
                        <li><a href="#" target="_blank">法律条款</a>|</li>
                        <li><a href="https://dev.battle.net/" target="_blank">API</a></li>
                    </ul>
                    <p>©2018 暴雪娱乐有限公司版权所有
                        <span>由上海网之易网络科技发展有限公司运营</span>
                        <a href="#" target="_blank"> 著作权侵权</a>
                        &nbsp;|&nbsp;<span id="js_shenzi">新广出审[2016]378号</span>
                    </p>
                    <p>
                        <span id="js_wenjinwang">文网游进字[2016]0025号</span>
                        &nbsp;|&nbsp;<a href="#" target="_blank">沪网文号〔2017〕9633-727号</a>
                        &nbsp;|&nbsp;<a href="#">增值电信业务经营许可证编号：沪B2－20080012</a>
                    </p>
                    <p>互联网违法和不良信息举报电话：0571-28090163&nbsp;沪公网安备 31011502022167号&nbsp;|&nbsp;
                        <a href="#" target="_blank">上海市网络游戏行业自律公约</a>
                    </p>
                    <p class="integrity">
                        <a target="_blank" href="#">
                            <img src="http://q1cz7q4s0.bkt.clouddn.com/img/police.png"></a>
                        <a target="_blank" href="#"><img src="http://q1cz7q4s0.bkt.clouddn.com/img/zx110.png"></a>
                        <a target="_blank" href="#"><img src="http://q1cz7q4s0.bkt.clouddn.com/img/sgs-icon.png"></a>
                        <a target="_blank" href="#"><img src="http://q1cz7q4s0.bkt.clouddn.com/img/icon20120516.png"></a>
                        <a target="_blank" href="#"><img src="http://q1cz7q4s0.bkt.clouddn.com/img/emark.png"></a>
                        <span>| &nbsp;适龄提示：适合13岁及以上使用&nbsp;&nbsp;</span>
                        <a href="#" target="_blank">家长监护工程&gt;</a>
                    </p>
                </div>

            </div>
            <hr>
            <p class="tips">积极健康的游戏心态是健康游戏的开端，本游戏故事情节设置紧凑，请您合理控制游戏时间，避免沉溺游戏影响生活，注意自我保护，防范网络陷阱。<br>健康游戏忠告：抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。</p></div></div>
    </div>
</footer>
<script src="../js/nav.js"></script>
<script >
    var goUp = document.getElementById("goUp");
    var goDown = document.getElementById("goDown");
    var pic = document.getElementById("pic");
    var dist = 0;
    var timerId = null;
    var oVeiw = document.querySelector('.view-window');
    var topPart = document.getElementById("topPart");
    var navBar = document.getElementById("navBar");
    var mainPart = document.getElementById("mainPart");
    var oTab = document.getElementsByClassName('hero-selector-box')[0];
    var arrTab = oTab.getElementsByTagName('li');
    var oHeroBox = document.getElementsByClassName('heros-box-content')[0];
    var arrHeroBox = oHeroBox.getElementsByTagName('li');
    var flag = 0;
    // 英雄选项卡
    arrTab[0].onclick = function(){
        flag = 0;
        for (var i = 0; i < arrTab.length; i++) {
            arrTab[i].classList.remove('is-select');

        }
        for (var i = 0; i < arrHeroBox.length; i++) {
            arrHeroBox[i].classList.remove('is-select');
            arrHeroBox[i].classList.remove('is-setin');
            arrHeroBox[i].classList.remove('is-setout');
        }
        this.classList.add('is-select');
    };
    arrTab[1].onclick = function(){
        flag = 1;
        for (var i = 0; i < arrTab.length; i++) {
            arrTab[i].classList.remove('is-select');
        }
        for (var i = 0; i < arrHeroBox.length; i++) {
            arrHeroBox[i].classList.add('is-select');
            arrHeroBox[i].classList.remove('is-setin');
            arrHeroBox[i].classList.remove('is-setout');
        }
        this.classList.add('is-select');
    };
    arrTab[2].onclick = function(){
        flag = 2;
        for (var i = 0; i < arrTab.length; i++) {
            arrTab[i].classList.remove('is-select');
        }
        for (var i = 0; i < arrHeroBox.length; i++) {
            arrHeroBox[i].classList.add('is-setin');
            arrHeroBox[i].classList.remove('is-setout');
            arrHeroBox[i].classList.remove('is-select');

        }
        this.classList.add('is-select');
    };
    arrTab[3].onclick = function(){
        flag = 3;
        for (var i = 0; i < arrTab.length; i++) {
            arrTab[i].classList.remove('is-select');
        }
        for (var i = 0; i < arrHeroBox.length; i++) {
            arrHeroBox[i].classList.remove('is-setin');
            arrHeroBox[i].classList.add('is-setout');
            arrHeroBox[i].classList.remove('is-select');
        }
        this.classList.add('is-select');
    };
    function inout(arrHeroBox,x){
        for (var i = 0; i < arrHeroBox.length; i++) {
            arrHeroBox[i].onmouseover = function(){
                this.classList.add(x);
            };
            arrHeroBox[i].onmouseout = function(){
                if(flag==i){
                    this.classList.add(x);
                }else {
                    this.classList.remove(x);
                }

            }
        }
    }
    inout(arrHeroBox,'is-over');
//   inout(arrTab,'is-select');

</script>
</body>
</html>